################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Intermediate/OpenSiv3D/Debug-x64
/App/OpenSiv3D(debug_64-bit)_log.html
/App/OpenSiv3D(debug_64-bit).exe
